@using MudBlazor
@using RCA_StudyManagementSystem.Client.Services
@using RCA_StudyManagementSystem.Shared.Domain
@* @using RCA_StudyManagementSystem.Client.Pages.Cases *@

@rendermode InteractiveWebAssembly

@inject IDialogService DialogService

<MudDialog>
    <DialogContent>

        <MudPagination Color="Color.Primary" ShowFirstButton="true" ShowLastButton="true"
                       Count="@totalPages"
                       Selected="@currPage"
                       SelectedChanged="OnPageChanged"
                       Class="mt-4 d-flex justify-end" Style="position: fixed; top: 20px; right: 40px; z-index: 1500" />

        <div style=" height:900px; ">
            <MudPaper Class="d-flex pa-2" Style="@($"background-color: lightsteelblue !important;")">
                <MudContainer Class="ml-2 mt-2">
                    <MudText Typo="Typo.h4">@Doctor.DisplayName</MudText>
                    <div class="mt-n12 d-flex justify-end">
                        <MudIconButton Size="@Size.Large" Icon="@Icons.Material.Outlined.Edit" Href="@($"/doctors/edit/{Doctor.DoctorId}")" Variant="Variant.Text" Color="Color.Primary">Edit</MudIconButton>
                    </div>
                </MudContainer>
            </MudPaper>
            <br />

            <MudCard Style="@($"background-color:{Colors.BlueGray.Lighten5};")">

                <div class="d-flex mx-10">


                    <MudContainer Class="pa-2 ml-10">
                        <div class="d-flex flex-row">
                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Address:</MudText>
                            </span>
                            <span style="width: 75%">
                                <MudText Typo="Typo.body1">@Doctor.Address1</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                            </span>
                            <span style="width: 75%">
                                <MudText Typo="Typo.body1">@Doctor.Address2</MudText>
                            </span>
                        </div>
                        @if (!string.IsNullOrEmpty(Doctor.Address3))
                        {
                            <div class="d-flex flex-row">
                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                                </span>
                                <span style="width: 75%">
                                    <MudText Typo="Typo.body1">@Doctor.Address3</MudText>
                                </span>
                            </div>
                        }
                        <div class="d-flex flex-row">
                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                            </span>
                            <span style="width: 75%">
                                <MudText Typo="Typo.body1">@Doctor.City, @Doctor.State @Doctor.ZipCode</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                            </span>
                            <span style="width: 75%">
                                <MudText Typo="Typo.body1">@Doctor.County County</MudText>
                            </span>
                        </div>
                        <br />
                        <div class="d-flex flex-row">
                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Phone1:</MudText>
                            </span>
                            <span style="width: 75%">
                                <MudText Typo="Typo.body1"> @Doctor.PhoneNumber1</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Phone2:</MudText>
                            </span>
                            <span style="width: 75%">
                                <MudText Typo="Typo.body1"> @Doctor.PhoneNumber2</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">FAX:</MudText>
                            </span>
                            <span style="width: 75%">
                                <MudText Typo="Typo.body1"> @Doctor.FaxNumber</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Email:</MudText>
                            </span>
                            <span style="width: 75%">
                                <MudText Typo="Typo.body1"> @Doctor.Email</MudText>
                            </span>
                        </div>


                    </MudContainer>

                    <MudContainer Class="pa-2">
                        <div class="d-flex flex-row">
                            <span style="width: 55%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Verified Date:</MudText>
                            </span>
                            <span style="width: 65%">
                                <MudText Typo="Typo.body1"> @Doctor.VerifiedDate?.ToShortDateString()</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 55%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Primary Specialty:</MudText>
                            </span>
                            <span style="width: 65%">
                                <MudText Typo="Typo.body1"> @Doctor.PrimarySpecialty</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 55%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Second. Specialty:</MudText>
                            </span>
                            <span style="width: 65%">
                                <MudText Typo="Typo.body1"> @Doctor.SecondarySpecialty</MudText>
                            </span>
                        </div>

                    </MudContainer>

                    <MudContainer Class="pa-2 d-flex justify-end">

                        @if (Doctor.IsPathologist)
                        {
                                    <MudText Typo="Typo.h3" Color="Color.Tertiary">Pathologist</MudText>
                        }
                    </MudContainer>
                </div>
            </MudCard>
        </div>
    </DialogContent>

</MudDialog>