@using MudBlazor
@using RCA_StudyManagementSystem.Client.Services
@using RCA_StudyManagementSystem.Shared.Domain
@* @using RCA_StudyManagementSystem.Client.Pages.Cases *@

@rendermode InteractiveWebAssembly

@inject IDialogService DialogService

<MudDialog>
    <DialogContent>

        <MudPagination Color="Color.Primary" ShowFirstButton="true" ShowLastButton="true"
                       Count="@totalPages"
                       Selected="@currPage"
                       SelectedChanged="OnPageChanged"
                       Class="mt-4 d-flex justify-end" Style="position: fixed; top: 20px; right: 40px; z-index: 1500" />

        <div style=" height:900px; ">
            <MudPaper Class="d-flex pa-2" Style="@($"background-color: lightsteelblue !important;")">
                <MudContainer Class="ml-2 mt-2">
                    <MudText Typo="Typo.h4">@DoNotContact.LastName, @DoNotContact.FirstName @DoNotContact.MiddleName</MudText>
                    <div class="mt-n12 d-flex justify-end">
                        <MudIconButton Size="@Size.Large" Icon="@Icons.Material.Outlined.Edit" Href="@($"/donotcontact/edit/{DoNotContact.DoNotContactId}")" Variant="Variant.Text" Color="Color.Primary">Edit</MudIconButton>
                    </div>
                </MudContainer>
            </MudPaper>
            <br />

            <MudCard Style="@($"background-color:{Colors.BlueGray.Lighten5};")">

                <div class="d-flex mx-10">


                    <MudContainer Class="pa-2 ml-10">
                        <div class="d-flex flex-row">
                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">SSN:</MudText>
                            </span>
                            <span style="width: 75%">
                                <MudText Typo="Typo.body1">@DoNotContact.SocialSecurityNumber</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">DOB:</MudText>
                            </span>
                            <span style="width: 75%">
                                <MudText Typo="Typo.body1">@DoNotContact.DateOfBirth.Value.ToShortDateString()</MudText>
                            </span>
                        </div>
                        <br />
                        <div class="d-flex flex-row">
                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Phone:</MudText>
                            </span>
                            <span style="width: 75%">
                                <MudText Typo="Typo.body1"> @DoNotContact.PhoneNumber</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Study Name:</MudText>
                            </span>
                            <span style="width: 75%">
                                <MudText Typo="Typo.body1"> @DoNotContact.StudyName</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Date of Last Contact:</MudText>
                            </span>
                            <span style="width: 75%">
                                <MudText Typo="Typo.body1"> @DoNotContact.DateLastContact.Value.ToShortDateString()</MudText>
                            </span>
                        </div>
                        


                    </MudContainer>
                </div>
            </MudCard>
        </div>
    </DialogContent>

</MudDialog>