@attribute [Authorize]
@page "/app/reports/pathsbystudybydate"

@using Microsoft.AspNetCore.Authorization
@using RCA_StudyManagementSystem.Shared.Domain
@using RCA_StudyManagementSystem.Client.Services
@using RCA_StudyManagementSystem.Shared.ViewModels
@using RCA_StudyManagementSystem.Client.Interfaces
@using MudBlazor
@using System.Linq

@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject IReportData ReportData
@inject IStudyData StudyData
@inject IHistologyData HistologyData
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar


@rendermode InteractiveAuto

<style>

    .mud-datagrid-modified-row {
        background-color: #ffe0b2; /* Light orange */
    }
</style>


<MudPaper Class="d-flex pa-2 rca-case-header">
    <h3 class="mt-2 mr-5"></h3>
    <MudItem xs="4" sm="3" md="2">
        <MudSelect id="studySelect" T="Study" @bind-Value="studySelectValue" @bind-Text="studySelectText" Typo="Typo.subtitle1" Margin="Margin.Dense"
                   Label="Study" HelperText="" Placeholder="Select Study" Variant="Variant.Text" Dense="true"
                   SelectedValuesChanged="@((value) => OnStudySelectChanged(value.First<Study>()))"
                   aria-hidden="false">
            @foreach (var option in StudyList)
            {
                <MudSelectItem T="Study" Value="@option">@option.Prefix</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <style>
        .rca-case-header {
            background-color: @StudyColor;
        }
    </style>
    <MudSpacer />
    @if (ShowFields)
    {
        <MudItem xs="4" sm="3" md="2">

        <MudDatePicker @bind-Date="startDate" Label="Start Date" Variant="Variant.Text" Margin="Margin.Dense" Dense="true" />
            <MudDatePicker @bind-Date="endDate" Label="End Date" Variant="Variant.Text" Margin="Margin.Dense" Dense="true" />
    </MudItem>
    }
    <MudSpacer />
    <div>
        <MudButton Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" ButtonType="ButtonType.Submit" OnClick="Generate">Generate Report</MudButton>
        <MudButton Variant="Variant.Filled"  Color="Color.Info" Size="Size.Small" ButtonType="ButtonType.Submit" OnClick="()=> OnExport()">Download Report</MudButton>

    </div>
</MudPaper>
<br />

<MudDataGrid T="PathCountByStudyByDate" Items="@PathReports" SortMode="SortMode.Single" Filterable="true"  Dense Virtualize
             ReadOnly="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Path Counts by Study by Date</MudText>

    </ToolBarContent>
    <ColGroup>
        <col style="width: 25%;" />
        <col style="width: 15%;" />
        <col style="width: 15%;" />
    </ColGroup>
    <Columns>
        <PropertyColumn Property="x => x.HospitalName" Title="Hospital Name" Filterable="false" Sortable="true">
            <EditTemplate Context="hospContext">
                <MudTextField T="string" @bind-Value="hospContext.Item.HospitalName"
                              Variant="Variant.Outlined" 
                              Margin="Margin.Dense"
                              For="@(() => hospContext.Item.HospitalName)"></MudTextField>
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.EligiblePathCount" Title="# Eligible Paths" Filterable="false" Sortable="true">
            <EditTemplate Context="countContext">
                <MudTextField T="int" @bind-Value="countContext.Item.EligiblePathCount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => countContext.Item.EligiblePathCount)"></MudTextField>
            </EditTemplate>
            <FooterTemplate>
                Total Eligible Paths: @context.Items.Sum(x => x.EligiblePathCount)
            </FooterTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.SubmittedPathCount" Title="# Submitted Paths" Filterable="false" Sortable="true">
            <EditTemplate Context="countContext">
                <MudTextField T="int" @bind-Value="countContext.Item.SubmittedPathCount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => countContext.Item.SubmittedPathCount)"></MudTextField>
            </EditTemplate>
            <FooterTemplate>
                Total Submitted Paths: @context.Items.Sum(x => x.SubmittedPathCount)
            </FooterTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.EnrolledPathCount" Title="# Enrolled Patients" Filterable="false" Sortable="true">
            <EditTemplate Context="countContext">
                <MudTextField T="int" @bind-Value="countContext.Item.EnrolledPathCount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => countContext.Item.EnrolledPathCount)"></MudTextField>
            </EditTemplate>
            <FooterTemplate>
                Total Enrolled Patients: @context.Items.Sum(x => x.EnrolledPathCount)
            </FooterTemplate>
        </PropertyColumn>

    </Columns>

</MudDataGrid>
@* <MudButton Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small"  OnClick="OnImport">Import Lookups</MudButton> *@

