@page "/hospitals/create"
@using RCA_StudyManagementSystem.Client.Services
@using RCA_StudyManagementSystem.Client.Utilities
@using RCA_StudyManagementSystem.Shared.Domain
@using System.ComponentModel.DataAnnotations
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject HospitalData HospitalData
@inject ISnackbar Snackbar
@inject ILogger<Create> Logger



@rendermode InteractiveWebAssembly

@* This style does not get picked up in the css file, so it has to go here.
 *@
<style>
    .mud-toolbar {
        --mud-internal-toolbar-height: 15px !important;
        z-index: 10000 !important;
    }
</style>

<MudPaper Class="d-flex pa-2 rca-case-header">
    <h3 class="mt-2 mr-5">New Hospital</h3>
    <MudItem xs="4" sm="3" md="2">

    </MudItem>
    <style>
        .rca-case-header {
            background-color: lightgray;
        }
    </style>


    <MudSpacer />
    @if (!IsDialog)
    {
        <div class="col-4 mt-3">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small" ButtonType="ButtonType.Submit" OnClick="OnSubmit">Save</MudButton>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small" ButtonType="ButtonType.Submit" OnClick="OnSaveAndAddNew">Save and Add New</MudButton>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small" ButtonType="ButtonType.Submit" OnClick="OnSaveAndClose">Save and Close</MudButton>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Warning" Size="Size.Small" ButtonType="ButtonType.Submit" OnClick="OnCancel">Cancel</MudButton>
        </div>
    }
    else
    {
        <div class="col-3 mt-3">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small" ButtonType="ButtonType.Submit" OnClick="OnSubmit">Save</MudButton>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small" ButtonType="ButtonType.Submit" OnClick="OnSaveAndClose">Save and Close</MudButton>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Warning" Size="Size.Small" ButtonType="ButtonType.Submit" OnClick="OnCancel">Cancel</MudButton>
        </div>
    }
</MudPaper>
<br />


<EditForm OnSubmit="OnSubmit" Enhance FormName="CreateHospital" EditContext="EditContext">
    <ObjectGraphDataAnnotationsValidator />
    <ValidationSummary />
    @if (IsSaved)
    {
        Snackbar.Add("Hopital has been created.", Severity.Success);
        IsSaved = false;
    }
    @if (HasErrors)
    {
        Snackbar.Add(@SaveMessage, severity);

    }

        <Fields Hospital="@Hospital" />
  

</EditForm>

