@using MudBlazor
@using RCA_StudyManagementSystem.Client.Services
@using RCA_StudyManagementSystem.Shared.Domain
@using RCA_StudyManagementSystem.Client.Pages.Cases
@using RCA_StudyManagementSystem.Client.Interfaces

@rendermode InteractiveAuto

@inject IDialogService DialogService
@inject IStudyData StudyData
@inject IUserData UserData
@inject IHospitalData HospitalData

<MudDialog>
    <DialogContent>

        <MudPagination Color="Color.Primary" ShowFirstButton="true" ShowLastButton="true"
                       Count="@totalPages"
                       Selected="@currPage"
                       SelectedChanged="OnPageChanged"
                       Class="mt-4 d-flex justify-end" Style="position: fixed; top: 20px; right: 40px; z-index: 1500" />

        <div style=" height:900px; ">
            <MudPaper Class="d-flex pa-2" Style="@($"background-color: lightsteelblue !important;")">
                <MudContainer Class="ml-2 mt-2">
                    <MudText Typo="Typo.h4">@Hospital.HospitalName (@Hospital.HospitalCode)</MudText>
                    <div class="mt-n12 d-flex justify-end">
                        <MudIconButton Size="@Size.Large" Icon="@Icons.Material.Outlined.Edit" Href="@($"/app/hospitals/edit/{Hospital.HospitalId}")" Variant="Variant.Text" Color="Color.Primary">Edit</MudIconButton>
                    </div>
                </MudContainer>
            </MudPaper>
            <br />

             <MudTabs KeepPanelsAlive="true" Elevation="2" Rounded="true" ApplyEffectsToContainer="true"
                         Style="@($"background-color:{Colors.BlueGray.Lighten5};")" PanelClass="pa-6">
                    <MudTabPanel Text="General Info" Icon="@Icons.Material.Filled.ContactPage">
                <div class="d-flex mx-10">


                    <MudContainer Class="pa-2">
                        <div class="d-flex flex-row">
                            <span style="width: 55%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Short Name:</MudText>
                            </span>
                            <span style="width: 65%">
                                <MudText Typo="Typo.body1"> @Hospital.HospitalShortName</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 55%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Address:</MudText>
                            </span>
                            <span style="width: 65%">
                                <MudText Typo="Typo.body1"> @Hospital.Address1</MudText>
                            </span>
                        </div>

                        @if (!string.IsNullOrEmpty(Hospital.Address2))
                        {
                            <div class="d-flex flex-row">
                                <span style="width: 55%" class="mr-3 d-flex justify-end">
                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                                </span>
                                <span style="width: 65%">
                                    <MudText Typo="Typo.body1"> @Hospital.Address2</MudText>
                                </span>
                            </div>
                        }
                        <div class="d-flex flex-row">
                            <span style="width: 55%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                            </span>
                            <span style="width: 65%">
                                <MudText Typo="Typo.body1">@Hospital.City, @Hospital.State @Hospital.ZipCode</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 55%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                            </span>
                            <span style="width: 65%">
                                <MudText Typo="Typo.body1">@Hospital.County County</MudText>
                            </span>
                        </div>
                        <br />
                        <div class="d-flex flex-row">
                            <span style="width: 55%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Phone Number:</MudText>
                            </span>
                            <span style="width: 65%">
                                <MudText Typo="Typo.body1"> @Hospital.PhoneNumber</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 55%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">FAX Number:</MudText>
                            </span>
                            <span style="width: 65%">
                                <MudText Typo="Typo.body1"> @Hospital.FaxNumber</MudText>
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <span style="width: 55%" class="mr-3 d-flex justify-end">
                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Comments:</MudText>
                            </span>
                            <span style="width: 65%">
                                <MudText Typo="Typo.body1"> @Hospital.HospitalComments</MudText>
                            </span>
                        </div>

                    </MudContainer>

                    <MudContainer Class="pa-2">



                    </MudContainer>

                </div>
            </MudTabPanel>
                <MudTabPanel Text="Change History" Icon="@Icons.Material.Filled.ChangeHistory">
                    <br />
                    <br />
                    <MudText Typo="Typo.h6">Hospital History</MudText>
                    <MudTable Items="hospitalHistory" Hover="true" Breakpoint="Breakpoint.Sm">
                        <HeaderContent>
                            <MudTh>Hospital Name</MudTh>
                            <MudTh>Modified Date</MudTh>
                            <MudTh>Modified By</MudTh>
                            <MudTh>View</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Hospital Name">@context.HospitalName</MudTd>
                            <MudTd DataLabel="Modified Date">@context.ModifiedDate</MudTd>
                            <MudTd DataLabel="Modified By">@UserLookup[context.ModifiedUserId.ToString()]</MudTd>
                            <MudTd DataLabel="View"><MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.ContactPage" OnClick=@(() => ViewHospitalHistory(context, hospitalHistory.ToList().IndexOf(context))) Variant="Variant.Text" Color="Color.Primary">View</MudIconButton></MudTd>

                        </RowTemplate>
                    </MudTable>

                </MudTabPanel>
        </MudTabs>
        </div>
    </DialogContent>

</MudDialog>