@using MudBlazor
@using RCA_StudyManagementSystem.Client.Services
@using RCA_StudyManagementSystem.Shared.Domain
@using RCA_StudyManagementSystem.Client.Pages.Cases

@rendermode InteractiveAuto

@inject IDialogService DialogService
@inject StudyData StudyData
@inject BatchData BatchData 
@inject PatientData PatientData
@inject PathReportData PathReportData


@if (IsLoading)
{
    <div class="loader-container">
        <div class="loader"></div>
    </div>
    <MudStack Justify="Justify.Center" Row="true">
        <MudText Typo="Typo.h3">Loading...</MudText>
    </MudStack>
}
else
{
    <MudDialog>
        <DialogContent>

            <MudPagination Color="Color.Primary" ShowFirstButton="true" ShowLastButton="true"
                           Count="@totalPages"
                           Selected="@currPage"
                           SelectedChanged="OnPageChanged"
                           Class="mt-4 d-flex justify-end" Style="position: fixed; top: 20px; right: 40px; z-index: 1500" />
            @*         <MudCarousel Class="mud-width-full" ItemsSource="@CarouselRecords" @bind-SelectedIndex="InitialSelectedIndex"
                     TData="@Patient" ShowArrows="true" ShowBullets="true" AutoCycle="false" Style="height:900px;">

            <ItemTemplate Context="context"> *@

            <div style=" height:900px; ">
                <MudPaper Class="d-flex pa-2" Style="@($"background-color: {@Patient.StudyColor} !important;")">
                    <MudContainer Class="ml-2 mt-2">
                        @if (Patient.Suffix.Length > 0)
                        {
                            <MudText Typo="Typo.h4">@Patient.LastName, @Patient.FirstName @Patient.MiddleName, @Patient.Suffix</MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.h4">@Patient.LastName, @Patient.FirstName @Patient.MiddleName</MudText>
                        }
                        <div class="mt-n12 d-flex justify-end">
                            @*                             <MudIconButton Size="@Size.Large" Icon="@Icons.Material.Outlined.Edit" Href="@($"/app/cases/edit/{Patient.PatientId}")" Variant="Variant.Text" Color="Color.Primary">Edit</MudIconButton>
 *@                        </div>
                    </MudContainer>
                </MudPaper>
                <br />

                <MudTabs KeepPanelsAlive="true" Elevation="2" Rounded="true" ApplyEffectsToContainer="true"
                         Style="@($"background-color:{Colors.BlueGray.Lighten5};")" PanelClass="pa-6">
                    <MudTabPanel Text="General Info" Icon="@Icons.Material.Filled.ContactPage">
@*                         <MudCard Style="@($"background-color:{Colors.BlueGray.Lighten5};")">
 *@
                            <div class="d-flex mx-10">
                            <MudContainer Class="pa-2" Style="width: 20%">
                                    <div class="d-flex flex-row">
                                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Study:</MudText>
                                        </span>
                                        <span style="width: 65%">
                                            @foreach (var path in PathReportViews)
                                            {
                                                if (path.PatientId == Patient.PatientId)
                                                {
                                                    StudyPrefix = path.StudyPrefix;
                                                    break;
                                                }
                                            }
                                            <MudText Typo="Typo.body1"> @StudyPrefix</MudText>
                                        </span>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Case #:</MudText>
                                        </span>
                                        <span style="width: 65%">
                                            <MudText Typo="Typo.body1"> @Patient.CaseNumber</MudText>
                                        </span>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">DOB:</MudText>
                                        </span>
                                        <span style="width: 65%">
                                            <MudText Typo="Typo.body1"> @Patient.DateOfBirth?.ToShortDateString()</MudText>
                                        </span>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">SSN:</MudText>
                                        </span>
                                        <span style="width: 65%">
                                            <MudText Typo="Typo.body1"> @Patient.SocialSecurityNumber</MudText>
                                        </span>
                                    </div>
                                    <br />


                                </MudContainer>

                            <MudContainer Class="pa-2" Style="width: 46%">
                                    <div class="d-flex flex-row">
                                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Address:</MudText>
                                        </span>
                                        <span style="width: 65%">
                                            <MudText Typo="Typo.body1">@Patient.Address1</MudText>
                                        </span>
                                    </div>
                                    @if (!string.IsNullOrEmpty(Patient.Address2))
                                    {
                                        <div class="d-flex flex-row">
                                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                                            </span>
                                            <span style="width: 65%">
                                                <MudText Typo="Typo.body1">@Patient.Address2</MudText>
                                            </span>
                                        </div>
                                    }
                                    <div class="d-flex flex-row">
                                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                                        </span>
                                        <span style="width: 65%">
                                            <MudText Typo="Typo.body1">@Patient.City, @Patient.State @Patient.ZipCode</MudText>
                                        </span>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                                        </span>
                                        <span style="width: 65%">
                                            <MudText Typo="Typo.body1">@Patient.County County</MudText>
                                        </span>
                                    </div>

                                    @foreach (var phone in Patient.PatientPhoneNumbers.OrderByDescending(x => x.IsPrimary))
                                    {
                                        <div class="d-flex flex-row">
                                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Phone:</MudText>
                                            </span>
                                            @if (phone.IsPrimary)
                                            {
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1">@FormatPhoneNumber(@phone.PhoneNumber) (@phone.PhoneType) (primary)</MudText>
                                                </span>
                                            }
                                            else
                                            {
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1">@FormatPhoneNumber(@phone.PhoneNumber) (@phone.PhoneType)</MudText>
                                                </span>
                                            }
                                        </div>

                                    }
                                    @if (Patient.Email != null)
                                    {
                                        <div class="d-flex flex-row">
                                            <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Email:</MudText>
                                            </span>
                                            <span style="width: 65%">
                                                <MudText Typo="Typo.body1">@Patient.Email</MudText>
                                            </span>
                                        </div>
                                    }
                                </MudContainer>

                            <MudContainer Class="pa-2" Style="width: 33%">

                                    <div class="d-flex flex-row">
                                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Gender:</MudText>
                                        </span>
                                        <span style="width: 65%">
                                            <MudText Typo="Typo.body1"> @Patient.Gender</MudText>
                                        </span>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Race:</MudText>
                                        </span>
                                        <span style="width: 65%">
                                            <MudText Typo="Typo.body1"> @Patient.Race</MudText>
                                        </span>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Ethnicity:</MudText>
                                        </span>
                                        <span style="width: 65%">
                                            <MudText Typo="Typo.body1"> @Patient.Ethnicity</MudText>
                                        </span>
                                    </div>


                                </MudContainer>

                            </div>
                            @if (!string.IsNullOrEmpty(Patient?.PatientComments))
                            {
                                <div class="d-flex flex-row">
                                    <span style="width: 15%" class="mr-3 d-flex justify-end">
                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Comments:</MudText>
                                    </span>
                                    <span style="width: 85%">
                                        <MudText Typo="Typo.body1"> @Patient?.PatientComments</MudText>
                                    </span>
                                </div>
                            }

                            @foreach (var pathReport in Patient.PathReports)
                            {
                                if (pathReport != null)
                                {

                                    <div class="d-flex mx-5">
                                        <MudContainer Class="pa-3" Style="width: 25%">
                                            <div class="d-flex flex-row">
                                                <MudText Typo="Typo.h6">Path Report @pathReport.PathIndex</MudText>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 40%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Export Date:</MudText>
                                                </span>
                                                <span style="width: 60%">
                                                    <MudText Typo="Typo.body1">@pathReport.RcaExportDate?.ToShortDateString()</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                @foreach (var path in PathReportViews)
                                                {
                                                    if (path.PathReportId == pathReport.PathReportId)
                                                    {
                                                        if (!string.IsNullOrEmpty(path.MaxAgeDiff.ToString()) && path.MaxAgeDiff > 0)
                                                        {
                                                            <span style="width: 40%" class="mr-3 d-flex justify-end">
                                                                <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Age of Path:</MudText>
                                                            </span>
                                                            <span style="width: 60%">
                                                                <MudText Typo="Typo.body1" Color="Color.Error">@path.MaxAgeDiff.ToString()</MudText>
                                                            </span>
                                                            break;
                                                        }
                                                    }
                                                }
                                            </div>

                                        </MudContainer>

                                        <MudContainer Class="pa-5" Style="width: 40%">
                                            <div class="d-flex flex-row">
                                                <span style="width: 45%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Submitting Hospital:</MudText>
                                                </span>
                                                <span style="width: 55%">
                                                    <MudText Typo="Typo.body1"> @pathReport.SubmittingHospital</MudText>
                                                </span>
                                            </div>

                                            <div class="d-flex flex-row">
                                                <span style="width: 45%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Sub. Hosp. Path Rpt#:</MudText>
                                                </span>
                                                <span style="width: 55%">
                                                    <MudText Typo="Typo.body1"> @pathReport.SubmittingHospitalPathReportNumber</MudText>
                                                </span>
                                            </div>
                                            @if (!string.IsNullOrEmpty(pathReport.OriginatingHospitalPathReportNumber))
                                            {
                                                <div class="d-flex flex-row">
                                                    <span style="width: 45%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Orig. Hosp. Path Rpt#:</MudText>
                                                    </span>
                                                    <span style="width: 55%">
                                                        <MudText Typo="Typo.body1"> @pathReport.OriginatingHospitalPathReportNumber</MudText>
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-row">
                                                    <span style="width: 45%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Orig. Hosp. Cmnts:</MudText>
                                                    </span>
                                                    <span style="width: 55%">
                                                        <MudText Typo="Typo.body1"> @pathReport.OriginatingHospitalComments</MudText>
                                                    </span>
                                                </div>

                                            }

                                            <div class="d-flex flex-row">
                                                <span style="width: 45%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Date of Proc.:</MudText>
                                                </span>
                                                <span style="width: 55%">
                                                    <MudText Typo="Typo.body1"> @pathReport.DateOfProcedure?.ToShortDateString()</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 45%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Age at Proc.:</MudText>
                                                </span>
                                                <span style="width: 55%">
                                                    <MudText Typo="Typo.body1"> @pathReport.AgeAtProcedure</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 45%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Reimbursement 1:</MudText>
                                                </span>
                                                <span style="width: 55%">
                                                    <MudText Typo="Typo.body1"> @pathReport.Reimbursement1</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 45%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Reimbursement 2:</MudText>
                                                </span>
                                                <span style="width: 55%">
                                                    <MudText Typo="Typo.body1"> @pathReport.Reimbursement2</MudText>
                                                </span>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="d-flex flex-row">
                                                <span style="width: 45%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Patient Address at Dx:</MudText>
                                                </span>
                                                <span style="width: 55%">
                                                    <MudText Typo="Typo.body1"> @pathReport.DxAddress1</MudText>
                                                </span>
                                            </div>
                                            @if (pathReport?.DxAddress2?.Length > 0)
                                            {
                                                <div class="d-flex flex-row">
                                                    <span style="width: 45%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                                                    </span>
                                                    <span style="width: 55%">
                                                        <MudText Typo="Typo.body1"> @pathReport.DxAddress1</MudText>
                                                    </span>
                                                </div>
                                            }
                                            <div class="d-flex flex-row">
                                                <span style="width: 45%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                                                </span>
                                                <span style="width: 55%">
                                                    <MudText Typo="Typo.body1"> @pathReport.DxCity, @pathReport.DxState @pathReport.DxZipCode</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 45%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                                                </span>
                                                <span style="width: 55%">
                                                    <MudText Typo="Typo.body1"> @pathReport.DxCounty County</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 45%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")"></MudText>
                                                </span>
                                                <span style="width: 55%">
                                                    <MudText Typo="Typo.body1"> @pathReport.DxPhoneNumber</MudText>
                                                </span>
                                            </div>


                                        </MudContainer>
                                        <MudContainer Class="pa-5" Style="width: 40%">
                                            <div class="d-flex flex-row">
                                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Site:</MudText>
                                                </span>
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1"> @pathReport.Site</MudText>
                                                </span>
                                            </div>

                                            <div class="d-flex flex-row">
                                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Procedure:</MudText>
                                                </span>
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1"> @pathReport.PathProcedure</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Report Cmnts:</MudText>
                                                </span>
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1"> @pathReport.PathComments</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Auth. Provider:</MudText>
                                                </span>
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1"> @pathReport.AuthorizingProvider</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Prov. Cmnts:</MudText>
                                                </span>
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1"> @pathReport.AuthorizingProviderComments</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Address:</MudText>
                                                </span>
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1"> @pathReport.MDAddress1, @pathReport.MDAddress2, @pathReport.MDAddress3, @pathReport.MDCity, @pathReport.MDState @pathReport.MDZipCode</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Phone:</MudText>
                                                </span>
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1"> @pathReport.MDPhoneNumber1, @pathReport.MDPhoneNumber2</MudText>
                                                </span>
                                            </div>
                                            @*                                 @if(pathReport.PathIndex == 1)
                                {
                                  <div class="d-flex flex-row">
                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Verified Date:</MudText>
                                    </span>
                                    <span style="width: 65%">
                                        <MudText Typo="Typo.body1"> @doctor1VerifiedDate</MudText>
                                    </span>
                                </div>                                    
                                }
                                @if (pathReport.PathIndex == 2)
                                {
                                    <div class="d-flex flex-row">
                                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Verified Date:</MudText>
                                        </span>
                                        <span style="width: 65%">
                                            <MudText Typo="Typo.body1"> @doctor2VerifiedDate</MudText>
                                        </span>
                                    </div>
                                } *@
                                            <div class="d-flex flex-row">
                                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Pathologist:</MudText>
                                                </span>
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1"> @pathReport?.Pathologist</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Path. Cmnts:</MudText>
                                                </span>
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1"> @pathReport?.PathologistComments</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Address:</MudText>
                                                </span>
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1"> @pathReport.PathAddress1, @pathReport.PathAddress2, @pathReport.PathAddress3, @pathReport.PathCity, @pathReport.PathState @pathReport.PathZipCode</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Phone:</MudText>
                                                </span>
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1"> @pathReport.PathPhoneNumber1, @pathReport.PathPhoneNumber2</MudText>
                                                </span>
                                            </div>
                                            @*                                 @if (pathReport.PathIndex == 1)
                                {
                                    <div class="d-flex flex-row">
                                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Verified Date:</MudText>
                                        </span>
                                        <span style="width: 65%">
                                            <MudText Typo="Typo.body1"> @path1VerifiedDate</MudText>
                                        </span>
                                    </div>
                                }
                                @if (pathReport.PathIndex == 2)
                                {
                                    <div class="d-flex flex-row">
                                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Verified Date:</MudText>
                                        </span>
                                        <span style="width: 65%">
                                            <MudText Typo="Typo.body1"> @path2VerifiedDate</MudText>
                                        </span>
                                    </div>
                                } *@
                                            <div class="d-flex flex-row">
                                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Histology Dx.:</MudText>
                                                </span>
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1"> @pathReport.HistologyCode1/@pathReport.HistologyBehavior1 @pathReport.HistologyDiagnosis1</MudText>
                                                </span>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Dx. Comments:</MudText>
                                                </span>
                                                <span style="width: 65%">
                                                    <MudText Typo="Typo.body1"> @pathReport.HistologyDiagnosisComments1</MudText>
                                                </span>
                                            </div>

                                            @if (pathReport?.Site2?.Length > 0)
                                            {
                                                <br />
                                                <br />
                                                <div class="d-flex flex-row">
                                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Site2:</MudText>
                                                    </span>
                                                    <span style="width: 65%">
                                                        <MudText Typo="Typo.body1"> @pathReport.Site2</MudText>
                                                    </span>
                                                </div>

                                                <div class="d-flex flex-row">
                                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Procedure2:</MudText>
                                                    </span>
                                                    <span style="width: 65%">
                                                        <MudText Typo="Typo.body1"> @pathReport.PathProcedure2</MudText>
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-row">
                                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Path Comments2:</MudText>
                                                    </span>
                                                    <span style="width: 65%">
                                                        <MudText Typo="Typo.body1"> @pathReport.PathComments2</MudText>
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-row">
                                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Auth. Provider2:</MudText>
                                                    </span>
                                                    <span style="width: 65%">
                                                        <MudText Typo="Typo.body1"> @pathReport.AuthorizingProvider2</MudText>
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-row">
                                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Prov. Cmnts2:</MudText>
                                                    </span>
                                                    <span style="width: 65%">
                                                        <MudText Typo="Typo.body1"> @pathReport.AuthorizingProviderComments2</MudText>
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-row">
                                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Address:</MudText>
                                                    </span>
                                                    <span style="width: 65%">
                                                        <MudText Typo="Typo.body1"> @pathReport.MD2Address1, @pathReport.MD2Address2, @pathReport.MD2Address3, @pathReport.MD2City, @pathReport.MD2State @pathReport.MD2ZipCode</MudText>
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-row">
                                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Phone:</MudText>
                                                    </span>
                                                    <span style="width: 65%">
                                                        <MudText Typo="Typo.body1"> @pathReport.MD2PhoneNumber1, @pathReport.MD2PhoneNumber2</MudText>
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-row">
                                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Pathologist2:</MudText>
                                                    </span>
                                                    <span style="width: 65%">
                                                        <MudText Typo="Typo.body1"> @pathReport?.Pathologist2</MudText>
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-row">
                                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Path. Cmnts2:</MudText>
                                                    </span>
                                                    <span style="width: 65%">
                                                        <MudText Typo="Typo.body1"> @pathReport?.PathologistComments2</MudText>
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-row">
                                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Address:</MudText>
                                                    </span>
                                                    <span style="width: 65%">
                                                        <MudText Typo="Typo.body1"> @pathReport.Path2Address1, @pathReport.Path2Address2, @pathReport.Path2Address3, @pathReport.Path2City, @pathReport.Path2State @pathReport.Path2ZipCode</MudText>
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-row">
                                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Phone:</MudText>
                                                    </span>
                                                    <span style="width: 65%">
                                                        <MudText Typo="Typo.body1"> @pathReport.Path2PhoneNumber1, @pathReport.Path2PhoneNumber2</MudText>
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-row">
                                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Histology Dx. 2:</MudText>
                                                    </span>
                                                    <span style="width: 65%">
                                                        <MudText Typo="Typo.body1"> @pathReport.HistologyCode2/@pathReport.HistologyBehavior2 @pathReport.HistologyDiagnosis2</MudText>
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-row">
                                                    <span style="width: 35%" class="mr-3 d-flex justify-end">
                                                        <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Dx. 2 Comments:</MudText>
                                                    </span>
                                                    <span style="width: 65%">
                                                        <MudText Typo="Typo.body1"> @pathReport.HistologyDiagnosisComments2</MudText>
                                                    </span>
                                                </div>
                                            }
                                        </MudContainer>
                                        <MudContainer Class="pa-2 d-flex justify-end" Style="width: 5%">
                                            @if (pathReport.IsOnHold)
                                            {
                                                <MudText Typo="Typo.h4" Color="Color.Error">Hold</MudText>
                                            }


                                        </MudContainer>
                                    </div>
                                }
                            }
@*                         </MudCard>
 *@                    </MudTabPanel>

                    <MudTabPanel Text="Export History" Icon="@Icons.Material.Filled.CloudDownload">
                        <MudTable Items="exportItems" Hover="true" Breakpoint="Breakpoint.Sm">
                            <HeaderContent>
                                <MudTh>Path ID</MudTh>
                                <MudTh>Batch Number</MudTh>
                                <MudTh>Export Date</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Path ID">@context.PathId</MudTd>
                                <MudTd DataLabel="Batch Number">@context.BatchNumber</MudTd>
                                <MudTd DataLabel="Export Date">@context.CreatedDate</MudTd>
                            </RowTemplate>
                        </MudTable>
                    </MudTabPanel>

                </MudTabs>
            </div>
        </DialogContent>

    </MudDialog>
}