@using MudBlazor
@using RCA_StudyManagementSystem.Client.Services;

@rendermode InteractiveWebAssembly
@inject IDialogService DialogService
@inject StudyLookupData StudyLookupData
@inject StudyHistologyData StudyHistologyData

<style>
    .newspaper-columns {
        column-count: 3;
        column-gap: 20px; /* Optional: Adds a gap between columns */
    }
</style>

<MudDialog>
    <DialogContent>
        <MudPagination Color="Color.Primary" ShowFirstButton="true" ShowLastButton="true"
                       Count="@totalPages"
                       Selected="@currPage"
                       SelectedChanged="OnPageChanged"
                       Class="mt-4 d-flex justify-end" Style="position: fixed; top: 20px; right: 40px; z-index: 1500" />

        <MudPaper Class="d-flex pa-2 rca-study-header">

            <style>
                .rca-study-header {
                    background-color: @Study.ColorLight !important;
                }
            </style>
            <MudContainer Class="ml-2 mt-2">
                <MudText Typo="Typo.h4">@Study.Name</MudText>
                <div class="mt-n12 d-flex justify-end">
@*                     <MudIconButton Size="@Size.Large" Icon="@Icons.Material.Outlined.Edit" Href="@($"/studies/edit/{Study.StudyId}")" Variant="Variant.Text" Color="Color.Primary">Edit</MudIconButton>
 *@                </div>
            </MudContainer>
        </MudPaper>
        <br />

        <MudCard Style="@($"background-color:{Colors.BlueGray.Lighten5};")">



            <div class="d-flex mx-10">
                <MudContainer Class="pa-2">
                    <div class="d-flex flex-row">
                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Prefix:</MudText>
                        </span>
                        <span style="width: 65%">
                            <MudText Typo="Typo.body1"> @Study.Prefix</MudText>
                        </span>
                    </div>
                    <div class="d-flex flex-row">
                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Start Date:</MudText>
                        </span>
                        <span style="width: 65%">
                            <MudText Typo="Typo.body1"> @Study.StartDate?.ToShortDateString()</MudText>
                        </span>
                    </div>
                    <div class="d-flex flex-row">
                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">End Date:</MudText>
                        </span>
                        <span style="width: 65%">
                            <MudText Typo="Typo.body1"> @Study.EndDate?.ToShortDateString()</MudText>
                        </span>
                    </div>
                    <div class="d-flex flex-row">
                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">PI:</MudText>
                        </span>
                        <span style="width: 65%">
                            <MudText Typo="Typo.body1"> @Study.PrincipalInvestigator</MudText>
                        </span>
                    </div>
                    <div class="d-flex flex-row">
                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">PM:</MudText>
                        </span>
                        <span style="width: 65%">
                            <MudText Typo="Typo.body1"> @Study.ProjectManager</MudText>
                        </span>
                    </div>
                </MudContainer>

                <MudContainer Class="pa-2">

                    <div class="d-flex flex-row">
                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Min Age:</MudText>
                        </span>
                        <span style="width: 65%">
                            <MudText Typo="Typo.body1"> @Study.MinAge</MudText>
                        </span>
                    </div>
                    <div class="d-flex flex-row">
                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Max Age:</MudText>
                        </span>
                        <span style="width: 65%">
                            <MudText Typo="Typo.body1"> @Study.MaxAge</MudText>
                        </span>
                    </div>
                    <div class="d-flex flex-row">
                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Path Min Age:</MudText>
                        </span>
                        <span style="width: 65%">
                            <MudText Typo="Typo.body1"> @Study.PathMinAge</MudText>
                        </span>
                    </div>
                    <div class="d-flex flex-row">
                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Path Max Age:</MudText>
                        </span>
                        <span style="width: 65%">
                            <MudText Typo="Typo.body1"> @Study.PathMaxAge</MudText>
                        </span>
                    </div>
                    <div class="d-flex flex-row">
                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Path Max Num:</MudText>
                        </span>
                        <span style="width: 65%">
                            <MudText Typo="Typo.body1"> @Study.PathMaxNum</MudText>
                        </span>
                    </div>

                </MudContainer>

                <MudContainer Class="pa-2">

                    <div class="d-flex flex-row">
                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Color:</MudText>
                        </span>
                        <span style="width: 65%">
                            <MudText Typo="Typo.body1"> @Study.MudColorLight.Value</MudText>
                        </span>
                    </div>

                    <div class="d-flex flex-row">
                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Site:</MudText>
                        </span>
                        <span style="width: 65%">
                            <MudText Typo="Typo.body1"> @Study.StudySite</MudText>
                        </span>
                    </div>

                    <div class="d-flex flex-row">
                        <span style="width: 35%" class="mr-3 d-flex justify-end">
                            <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">CCR F14 Appr.:</MudText>
                        </span>
                        <span style="width: 65%">
                            <MudText Typo="Typo.body1"> @Study.CCR_F14_ApprovalDate?.ToShortDateString()</MudText>
                        </span>
                    </div>


                </MudContainer>


            </div>
            <div class="d-flex flex-row">
                <span style="width: 15%" class="mr-3 d-flex justify-end">
                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Design:</MudText>
                </span>
                <span style="width: 85%">
                    <MudText Typo="Typo.body1"> @Study.Design</MudText>
                </span>
            </div>
            <div class="d-flex flex-row">
                <span style="width: 15%" class="mr-3 d-flex justify-end">
                    <MudText Typo="Typo.body1" Style="@($"color:{Colors.BlueGray.Lighten1};")">Comments:</MudText>
                </span>
                <span style="width: 85%">
                    <MudText Typo="Typo.body1"> @Study.Comments</MudText>
                </span>
            </div>

            <div class="d-flex mx-10">
                <MudTabs KeepPanelsAlive="true" Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">

                    <MudTabPanel Class="mt-2" Text="Gender" Value="1">

                        @foreach (var gender in StudyGender)
                        {
                            <MudText Typo="Typo.body1">@gender.LookupName</MudText>
                        }

                    </MudTabPanel>
                    <MudTabPanel Class="mt-2" Text="Race" Value="1">

                        @foreach (var race in StudyRace)
                        {
                            <MudText Typo="Typo.body1">@race.LookupName</MudText>
                        }

                    </MudTabPanel>

                    <MudTabPanel Class="mt-2" Text="Ethnicity" Value="1">

                        @foreach (var ethnicity in StudyEthnicity)
                        {
                            <MudText Typo="Typo.body1">@ethnicity.LookupName</MudText>
                        }

                    </MudTabPanel>
                    <MudTabPanel Class="mt-2" Text="Procedure" Value="1">

                        @foreach (var procedure in StudyProcedure)
                        {
                            <MudText Typo="Typo.body1">@procedure.LookupName</MudText>
                        }

                    </MudTabPanel>
                    <MudTabPanel Class="mt-2" Text="Counties" Value="1">
                        <MudContainer class="newspaper-columns">
                            @foreach (var county in StudyCounty)
                            {
                                <MudText Typo="Typo.body1">@county.LookupName</MudText>
                            }
                        </MudContainer>


                    </MudTabPanel>
                    <MudTabPanel Class="mt-2" Text="Site" Value="1">

                        @foreach (var site in StudySite)
                        {
                            <MudText Typo="Typo.body1">@site.LookupName</MudText>
                        }

                    </MudTabPanel>
                    <MudTabPanel Class="mt-2" Text="Histologies" Value="1">

                        @foreach (var histology in StudyHistologies)
                        {
                            <MudText Typo="Typo.body1">@histology.HistologyCode/@histology.HistologyBehavior - @histology.HistologyName</MudText>
                        }

                    </MudTabPanel>
                </MudTabs>
            </div>

        </MudCard>
    </DialogContent>

</MudDialog>